#about-section {
    .about-info {
        display: flex;
        justify-content: center;
    }

    h2 {
        margin-bottom: 1.2rem;
    }

    .bio {
        padding: 1.5rem 2.5rem;
        line-height: 2rem;
        font-size: 1.2rem;

        p {
            text-align: left;
        }
    }
}

#skills-section {

    .skills-logos {
        display: flex;
        justify-content: center;

        i {
            margin: 60px;

            span {
                display: block;
                font-family: 'Dosis', sans-serif;
                text-align: center;
                font-size: 1.2rem;
            }
        }

        i:hover {
            background: none;
            transform: scale(1.1);
        }
    }
}