#main-footer {
    background: $dark-color;
    color: #fff;
    height: 5rem;

    .footer-content {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        align-items: center;

        i {
            color: #fff;
        }
    }
}