#footer-section {
    background: $dark-color;
    color: #fff;
    height: 5rem;

    .footer-content {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        align-items: center;

        .fab {
            color: #fff;
            transition: 0.5s;


            &:hover {
                color: $secondary-color;
                animation: $shake-animation;
            }
        }
    }
}