// Header
#header {
    &-bg {
        background: $main-color no-repeat center/cover;
        position: relative;
        height: 100vh;
    }

    // Header Content
    .header {
        &-content {
            text-align: center;
            padding: 200px;
            font-family: 'Original Surfer', cursive;;

            h1 {
                font-size: 5rem;
                letter-spacing: 3px;
                line-height: 1.2;
                text-transform: uppercase;
            }


            h2 {
                font-size: 3.5rem;
                letter-spacing: 3px;
                margin-bottom: 1.2rem;
                text-transform: uppercase;
            }
        }

        &-buttons {

            i {
                color: #000;
                margin: 1.5rem;

                &:hover {
                    color: $secondary-color;
                    transition: .5s;
                }
            }
        }

    }


}

// NavBar
#main-nav {
    font-family: 'El Messiri', sans-serif;

    .logo-title,
    a {
        color: #000;
    }

    .logo-title {
        font-size: 40px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
    }

    ul {
        float: right;
        margin-right: 20px;

        li {
            display: inline-block;
            line-height: 80px;
            margin: 0 10px;
            padding: 0 15px;
        }

        a {
            font-size: 20px;
            text-transform: uppercase;
        }

        a:hover {
            border-bottom: 5px solid;
            border-color: $secondary-color;
            transition: .3s;
        }
    }




}