@media(max-width: 1024px) {
    #header-home {

        .header-content {
            padding-top: 5rem;

            h1 {
                font-size: 2.5rem;
            }
        }
    }

    #main-nav {
        flex-direction: row;
        align-items: center;
        justify-content: center;

        li {
            padding: 1rem;
        }
    }

    //Stack Grid Columns
    #home-a .specials,
    #home-b .stats,
    #home-c .process,
    #about-d .testimonials,
    #contact-b .contact-info,
    .items {
        grid-template-columns: 1fr;
    }

    #tagline {
        h1 {
            font-size: 2rem;
        }
    }

    #home {
        &-a {
            .specials div {
                border-bottom: 1px $light-color solid;
                padding-bottom: 1rem;

                &:last-child {
                    border: none;
                    padding-bottom: 0;
                }
            }
        }

        &-b {
            .stats div {
                padding: 2rem 0 1rem 0;
            }
        }
    }

    #about {
        &-a {
            .about-info {
                display: block;
            }

            .bio, .skills {
                //margin-right: 10rem;
                width: 70%;
            }
        }
    }

    //Projects
    .item {
        display: block;

        &:hover &-image {
            transform: none;
        }
    }

    // Contact
    #contact {
        &-a {
            .text-fields {
                grid-template-areas: 'name''subject''email''phone''message';
            }

            button[type='submit'] {
                width: 30%;
            }
        }
    }

    // Footer
    #main-footer {
        height: 7rem;

        .footer-content {
            flex-direction: column;
            padding: 1rem;
            height: 5rem;
        }
    }
}