@media(max-width: 1024px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #tagline {
        h1 {
            font-size: 2rem;
        }
    }

    #about-section {
        .about-info {
            display: block;
        }

    }

    #skills-section {
        .skills-logos {
            display: grid;
            grid-template-columns: 140px 140px 140px;
        }
    }

    //Projects
    #projects-section {
        .projects {
            grid-template-columns: 500px;
        }
    }


    // Contact
    #contact-section {

        .text-fields {
            grid-template-areas: 'name''subject''email''phone''message';
        }

        button[type='submit'] {
            width: 30%;
        }

    }

    // Footer
    #footer-section {
        height: 7rem;

        .footer-content {
            flex-direction: column;
            padding: 1rem;
            height: 5rem;
        }
    }
}

@media(max-width: 880px) {
    .navbar {
        .hamburger {
            display: block;
        }

        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }

        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

        .nav-menu {
            position: absolute;
            left: -100%;
            top: 60px;
            gap: 0;
            width: 100%;
            flex-direction: column;
            background-color: $secondary-color;
            text-align: center;
            transition: 0.3s;

            .menu-item {
                margin: 16px 0;

                a {
                    color: #fff;
                }
            }

            .menu-item:hover {
                border-bottom: none;

                a {
                    color: $medium-color;
                    transition: .3s;
                }

            }
        }

        .nav-menu.active {
            left: 0;
        }
    }

    .header {
        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: 3rem;
            }

            .second-header {
                font-size: 2rem;
            }
        }
    }
}

@media (max-width: 500px) {

    html,
    body {
        overflow-x: hidden;
    }

    .header {

        .typewriter {
            p {
                font-size: 1.7rem;
            }
        }


        &-buttons {
            i {
                font-size: 35px;
            }
        }

        .scroll-down {
            i {
                margin: 50px 0;
            }
        }
    }

    #skills-section {
        .skills-logos {
            margin-right: 40px;

            i {
                transform: scale(0.8);
            }
        }
    }

    //Projects
    .projects {
        grid-template-columns: 400px;
    }

    .item {
        margin: 2rem;
    }
}