.projects {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-gap: 5rem;
    justify-content: center;
    margin: auto;
}

.item {
    margin-bottom: 2.5rem;

    &-image {
        padding: 1.5rem 2.5rem;

        img {
            box-shadow: rgba(0, 0, 0, 0.5) 5px 10px 15px;
            transition: all 0.2s ease-out;
        }

        img:hover {
            transform: translateY(-10px);
        }
    }

    &-description {
        padding: 1.5rem 2.5rem;
        line-height: 2rem;

        h2 {
            margin-bottom: 1.2rem;
        }
    }

    &-buttons {
        margin-top: 2rem;

        button {
            margin: 25px 15px 0 0;
        }
    }
}