//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

//General Styles
* {
    margin: 0;
    padding: 0;
}

html,body{
    overflow-x: hidden;
}

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background: #fff;
}

a {
    text-decoration: none;
}

h2,
h3,
h4 {
    text-transform: uppercase;
}

img {
    width: 100%;
}

.container {
    max-width: $website-width;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
}



#tagline {
    h1 {
        text-align: center;
        font-size: 3rem;
    }
}

// Buttons
%btn-shared {
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: all 0.5s;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    &-main {
        @extend %btn-shared;
        color: #333;
        background-color: $main-color;
    }

    &-dark {
        @extend %btn-shared;
        color: #f4f4f4;
        background-color: $dark-color;
    }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
    background-color: $medium-color;
}

//Icons
.fab {
    margin: 0 0.5rem;
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 0.5rem;
}

.scroll {
    &-top {
        float: right;
        margin-right: 2.5rem;
        background-color: $dark-color;
        color: #fff;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 4px;

        &:hover {
            cursor: pointer;
            background-color: $main-color;
        }
    }
}

// Background
.bg {
    &-main {
        background: $main-color;
        color: #fff;
    }

    // &-secondary {
    //     background: $secondary-color;
    //     color: set-text-color($secondary-color);
    // }

    // &-dark {
    //     background: $dark-color;
    //     color: set-text-color($dark-color);
    // }

    // &-light {
    //     background: $light-color;
    //     color: set-text-color($light-color);
    // }

    // &-medium {
    //     background: $medium-color;
    //     color: set-text-color($medium-color);
    // }
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.text-center {
    text-align: center;
}

// Padding
.py {
    &-1 {
        padding: 1rem 0;
    }

    &-2 {
        padding: 2rem 0;
    }

    &-3 {
        padding: 3rem 0;
    }

    &-4 {
        padding: 4rem 0;
    }
}

// Margin
.my {
    &-1 {
        margin: 1rem 0;
    }

    &-2 {
        margin: 2rem 0;
    }

    &-3 {
        margin: 3rem 0;
    }

    &-4 {
        margin: 4rem 0;
    }
}

.section-title {
    font-size: 2rem;
    display: block;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
}

.bottom-line {
    height: 2px;
    width: 3rem;
    background: $main-color;
    display: block;
    margin: 0 auto 1rem auto;
}

