@import url("https://fonts.googleapis.com/css2?family=El+Messiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

#tagline h1 {
  text-align: center;
  font-size: 3rem;
}

.btn-main, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-main {
  color: #333;
  background-color: #fdad5c;
}

.btn-dark {
  color: #f4f4f4;
  background-color: #333;
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: #ccc;
}

.fab {
  margin: 0 0.5rem;
  height: 20px;
  width: 20px;
  text-align: center;
  padding: 0.5rem;
}

.scroll-top {
  float: right;
  margin-right: 2.5rem;
  background-color: #333;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
}

.scroll-top:hover {
  cursor: pointer;
  background-color: #fdad5c;
}

.bg-main {
  background: #fdad5c;
  color: #fff;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #fdad5c;
  display: block;
  margin: 0 auto 1rem auto;
}

#header-bg {
  background: #fdad5c no-repeat center/cover;
  position: relative;
  height: 100vh;
}

#header .header-content {
  text-align: center;
  padding: 200px;
  font-family: 'Original Surfer', cursive;
}

#header .header-content h1 {
  font-size: 5rem;
  letter-spacing: 3px;
  line-height: 1.2;
  text-transform: uppercase;
}

#header .header-content h2 {
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
}

#header .header-buttons i {
  color: #000;
  margin: 1.5rem;
}

#header .header-buttons i:hover {
  color: #008080;
  -webkit-transition: .5s;
  transition: .5s;
}

#main-nav {
  font-family: 'El Messiri', sans-serif;
}

#main-nav .logo-title,
#main-nav a {
  color: #000;
}

#main-nav .logo-title {
  font-size: 40px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

#main-nav ul {
  float: right;
  margin-right: 20px;
}

#main-nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
  padding: 0 15px;
}

#main-nav ul a {
  font-size: 20px;
  text-transform: uppercase;
}

#main-nav ul a:hover {
  border-bottom: 5px solid;
  border-color: #008080;
  -webkit-transition: .3s;
  transition: .3s;
}

#about-section .about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-section h2 {
  margin-bottom: 1.2rem;
}

#about-section .bio {
  padding: 1.5rem 2.5rem;
  line-height: 2rem;
  font-size: 1.2rem;
}

#about-section .bio p {
  text-align: left;
}

#skills-section .skills-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#skills-section .skills-logos i {
  margin: 45px;
}

#skills-section .skills-logos i span {
  display: block;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 1.2rem;
}

#skills-section .skills-logos i:hover {
  background: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#header-bg {
  background: #fdad5c no-repeat center/cover;
  position: relative;
  height: 100vh;
}

#header .header-content {
  text-align: center;
  padding: 200px;
  font-family: 'Original Surfer', cursive;
}

#header .header-content h1 {
  font-size: 5rem;
  letter-spacing: 3px;
  line-height: 1.2;
  text-transform: uppercase;
}

#header .header-content h2 {
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
}

#header .header-buttons i {
  color: #000;
  margin: 1.5rem;
}

#header .header-buttons i:hover {
  color: #008080;
  -webkit-transition: .5s;
  transition: .5s;
}

#main-nav {
  font-family: 'El Messiri', sans-serif;
}

#main-nav .logo-title,
#main-nav a {
  color: #000;
}

#main-nav .logo-title {
  font-size: 40px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

#main-nav ul {
  float: right;
  margin-right: 20px;
}

#main-nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
  padding: 0 15px;
}

#main-nav ul a {
  font-size: 20px;
  text-transform: uppercase;
}

#main-nav ul a:hover {
  border-bottom: 5px solid;
  border-color: #008080;
  -webkit-transition: .3s;
  transition: .3s;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 600px 600px;
      grid-template-columns: 600px 600px;
  grid-gap: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.item {
  margin-bottom: 2.5rem;
}

.item-image {
  padding: 1.5rem 2.5rem;
}

.item-description {
  padding: 1.5rem 2.5rem;
  line-height: 2rem;
}

.item-description h2 {
  margin-bottom: 1.2rem;
}

.item-buttons {
  margin-top: 2rem;
}

.item-buttons button {
  margin: 25px 15px 0 0;
}

#contact-a .text-fields {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'name email' 'subject phone' 'message message';
  grid-gap: 1.2rem;
  margin-bottom: 1.2rem;
}

#contact-a .text-fields .name-input {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

#contact-a .text-fields .subject-input {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subject;
}

#contact-a .text-fields .email-input {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: email;
}

#contact-a .text-fields .phone-input {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: phone;
}

#contact-a .text-fields .message-input {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
  height: 100px;
}

#contact-a .text-fields .text-input {
  padding: 0.5rem 1rem;
}

#contact-a button[type='submit'] {
  width: 15%;
}

.scroll-button {
  margin-bottom: 1.5rem;
}

#main-footer {
  background: #333;
  color: #fff;
  height: 5rem;
}

#main-footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-footer .footer-content .fab {
  color: #fff;
  border: 2px #fff solid;
  border-radius: 50%;
}

#main-footer .footer-content .fab:hover {
  background: #fdad5c;
}

@media (max-width: 1024px) {
  #header-home .header-content {
    padding-top: 5rem;
  }
  #header-home .header-content h1 {
    font-size: 2.5rem;
  }
  #main-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #main-nav li {
    padding: 1rem;
  }
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  #contact-b .contact-info,
  .items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #tagline h1 {
    font-size: 2rem;
  }
  #home-a .specials div {
    padding-bottom: 1rem;
  }
  #home-a .specials div:last-child {
    border: none;
    padding-bottom: 0;
  }
  #home-b .stats div {
    padding: 2rem 0 1rem 0;
  }
  #about-section .about-info {
    display: block;
  }
  #skills-section .skills-logos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 140px 140px 140px;
        grid-template-columns: 140px 140px 140px;
  }
  .projects {
    -ms-grid-columns: 500px;
        grid-template-columns: 500px;
  }
  #contact-a .text-fields {
        grid-template-areas: "name" "subject" "email" "phone" "message";
  }
  #contact-a button[type='submit'] {
    width: 30%;
  }
  #main-footer {
    height: 7rem;
  }
  #main-footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    height: 5rem;
  }
}
/*# sourceMappingURL=main.css.map */