@import url("https://fonts.googleapis.com/css2?family=El+Messiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 1em;
  overflow: hidden;
}

#tagline h1 {
  font-size: 3rem;
}

.btn-main, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-main {
  color: #333;
  background-color: #fdad5c;
}

.btn-dark {
  color: #f4f4f4;
  background-color: #333;
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: #ccc;
}

.fab {
  margin: 0 0.5rem;
  height: 20px;
  width: 20px;
  padding: 0.5rem;
}

.scroll-top {
  float: right;
  margin-right: 2.5rem;
  background-color: #333;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scroll-top:hover {
  cursor: pointer;
  background-color: #008080;
}

.bg-main {
  background: #fdad5c;
  color: #fff;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  font-weight: 100;
  text-transform: uppercase;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #fdad5c;
  display: block;
  margin: 0 auto 1rem auto;
}

.header-bg {
  background: #fdad5c;
  height: 100vh;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 200px;
  font-family: "Dosis", sans-serif;
}

.header-content h1 {
  font-size: 5rem;
  letter-spacing: 3px;
  line-height: 1.2;
}

.header-content .second-header {
  color: #008080;
  font-size: 3rem;
  letter-spacing: 3px;
  padding: 0.2em 0.4em;
}

.header-content .scroll-down i {
  margin: 200px 0;
  color: #fff;
  -webkit-animation: bounce 1s linear infinite;
          animation: bounce 1s linear infinite;
}

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  gap: 50px;
}

.header-buttons i {
  color: #000;
}

.header-buttons i:hover {
  color: #008080;
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.navbar {
  font-family: "El Messiri", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}

.navbar .logo-title,
.navbar a {
  color: #000;
}

.navbar .logo-title {
  font-size: 40px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

.navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.navbar .nav-menu .menu-item {
  font-family: "Dosis", sans-serif;
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
}

.navbar .nav-menu .menu-item:hover {
  border-bottom: 5px solid;
  border-color: #008080;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar .hamburger {
  display: none;
  cursor: pointer;
}

.navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-info h2 {
  margin-bottom: 1.2rem;
}

.about-bio {
  padding: 1.5rem 2.5rem;
  line-height: 2rem;
  font-size: 1.2rem;
}

.about-bio p {
  text-align: center;
}

.about-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#skills-section .skills-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#skills-section .skills-logos i {
  margin: 70px 50px;
}

#skills-section .skills-logos i span {
  display: block;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 1.2rem;
}

#skills-section .skills-logos i:hover {
  background: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header-bg {
  background: #fdad5c;
  height: 100vh;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 200px;
  font-family: "Dosis", sans-serif;
}

.header-content h1 {
  font-size: 5rem;
  letter-spacing: 3px;
  line-height: 1.2;
}

.header-content .second-header {
  color: #008080;
  font-size: 3rem;
  letter-spacing: 3px;
  padding: 0.2em 0.4em;
}

.header-content .scroll-down i {
  margin: 200px 0;
  color: #fff;
  -webkit-animation: bounce 1s linear infinite;
          animation: bounce 1s linear infinite;
}

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  gap: 50px;
}

.header-buttons i {
  color: #000;
}

.header-buttons i:hover {
  color: #008080;
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.navbar {
  font-family: "El Messiri", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}

.navbar .logo-title,
.navbar a {
  color: #000;
}

.navbar .logo-title {
  font-size: 40px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

.navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.navbar .nav-menu .menu-item {
  font-family: "Dosis", sans-serif;
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
}

.navbar .nav-menu .menu-item:hover {
  border-bottom: 5px solid;
  border-color: #008080;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar .hamburger {
  display: none;
  cursor: pointer;
}

.navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 600px 600px;
      grid-template-columns: 600px 600px;
  grid-gap: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.item-image {
  padding: 1.5rem 2.5rem;
}

.item-image img {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 10px 15px;
          box-shadow: rgba(0, 0, 0, 0.5) 5px 10px 15px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.item-image img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.item-description {
  padding: 1.5rem 2.5rem;
  line-height: 2rem;
}

.item-description h2 {
  margin-bottom: 1.2rem;
}

.item-buttons {
  margin-top: 2rem;
}

.item-buttons button {
  margin: 25px 15px 0 0;
}

#contact-section .text-fields {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'name email' 'subject phone' 'message message';
  grid-gap: 1.2rem;
  margin-bottom: 1.2rem;
}

#contact-section .text-fields .name-input {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

#contact-section .text-fields .subject-input {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subject;
}

#contact-section .text-fields .email-input {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: email;
}

#contact-section .text-fields .phone-input {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: phone;
}

#contact-section .text-fields .message-input {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
  height: 100px;
}

#contact-section .text-fields .text-input {
  padding: 0.5rem 1rem;
}

#contact-section button[type='submit'] {
  width: 15%;
}

.scroll-button {
  margin-bottom: 1.5rem;
}

#footer-section {
  background: #333;
  color: #fff;
  height: 5rem;
}

#footer-section .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer-section .footer-content .fab {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#footer-section .footer-content .fab:hover {
  color: #008080;
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

@media (max-width: 1024px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #tagline h1 {
    font-size: 2rem;
  }
  #about-section .about-info {
    display: block;
  }
  #skills-section .skills-logos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 140px 140px 140px;
        grid-template-columns: 140px 140px 140px;
  }
  #projects-section .projects {
    -ms-grid-columns: 500px;
        grid-template-columns: 500px;
  }
  #contact-section .text-fields {
        grid-template-areas: "name" "subject" "email" "phone" "message";
  }
  #contact-section button[type='submit'] {
    width: 30%;
  }
  #footer-section {
    height: 7rem;
  }
  #footer-section .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    height: 5rem;
  }
}

@media (max-width: 880px) {
  .navbar .hamburger {
    display: block;
  }
  .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .navbar .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .navbar .nav-menu {
    position: absolute;
    left: -100%;
    top: 60px;
    gap: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #008080;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .navbar .nav-menu .menu-item {
    margin: 16px 0;
  }
  .navbar .nav-menu .menu-item a {
    color: #fff;
  }
  .navbar .nav-menu .menu-item:hover {
    border-bottom: none;
  }
  .navbar .nav-menu .menu-item:hover a {
    color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .navbar .nav-menu.active {
    left: 0;
  }
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-content h1 {
    font-size: 3rem;
  }
  .header-content .second-header {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  html,
  body {
    overflow-x: hidden;
  }
  .header .typewriter p {
    font-size: 1.7rem;
  }
  .header-buttons i {
    font-size: 35px;
  }
  .header .scroll-down i {
    margin: 50px 0;
  }
  #skills-section .skills-logos {
    margin-right: 40px;
  }
  #skills-section .skills-logos i {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .projects {
    -ms-grid-columns: 400px;
        grid-template-columns: 400px;
  }
  .item {
    margin: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */